
.round {
    background-image: url("../image/back.png");
}

.headimg {
    width: 500px;
    height: 478px;
    position: absolute;
    top: 50px;
    right: 0;
    padding-top: 83px;
}

.headtext {
    font-family: SF Pro Display, sans-serif;
    font-size: 45px;

    font-weight: 900;
    color: white;
    padding-top: 107px;
}

.headtext2 {
    font-family: SF Pro Display, sans-serif;
    font-size: 15px;
    color: white;
}

.search {
    width: 450px;
    padding-bottom: 158px;
}

.search1 {
    vertical-align: text-top;
}

.cardtext {
    color: rgba(46, 46, 46, 1);
    font-size: 24px;
}

.cardtext3 {
    color: rgba(46, 46, 46, 1);
    font-size: 20px;
}
.cardtext2 {
    font-size: 15px;
}

.cardtext4 {
    font-size: 14px;
}



.top {
    position: absolute;
    top: 20px;
    left: 25px;
    background-color: #10C8A0;
    border-radius: 3px;
}
.top2 {
    position: absolute;
    top: 20px;
    left: 25px;
    background-color: #11BDF3;
    padding-right: 29px;
    padding-left: 29px;
    border-radius: 3px;
}

.top3 {
    position: absolute;
    top: 20px;
    left: 25px;
    background-color: #EB3B31;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 3px;
}


.strelka {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px lightgray solid;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #536DFD;


}

.strelka2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px lightgray solid;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #536DFD;


}

.strelka:hover {
    background-color: #536DFD;
    color: white;
}
.strelka2:hover {
    background-color: #536DFD;
    color: white;
}

.card .cardtext .cardtext3 {
    transition: all 0.5s 0s linear;
}
.card:hover{
    box-shadow: 0 65px 35px lightgray;
}
.card:hover .cardtext{
    color: #536DFD;
}
.card:hover .cardtext3{
    color: #536DFD;
}



.btntext {
    font-size: 12px;
}


.body2 {
    background: #E5E5E5;
}

.boyd3card {
    border-radius: 3px;
}

.nav-item {
    position: relative;
}

.link1::before{
    content: '';
    width: 0;
    height: 3px;
    background-color: #536DFD;
    position: absolute;
    top: 35px;
    transition: all 0.5s 0s linear;
}
.link1:hover::before {
    width: 50%;
    color: black;
}
.link8::before{
    content: '';
    width: 82%;
    height: 3px;
    background-color: #536DFD;
    position: absolute;
    top: 35px;
    transition: all 0.5s 0s linear;
    color: black;
}


.link3::before{
    content: '';
    width: 0;
    height: 3px;
    background-color: #536DFD;
    position: absolute;
    top: 35px;
    transition: all 0.5s 0s linear;
}
.link3:hover::before {
    width: 65%;
    color: black;
}
.stiv {
    font-size: 22px;
    font-style: italic;
    padding-left: 180px;
}

.pass {
    background-image: url("../image/all.png");
    font-family: SF Pro Display,sans-serif;
    color: white;
    position: relative;
    margin-bottom: 100px;
    padding-bottom: 110px;
}


.body3text{
    padding-top: 142px;
    font-size: 40px;
}

.qq {
    position: absolute;
    top: 55px;
    left: 55px;
}

.qq2 {
    position: absolute;
    bottom: 70px;
    right: 55px;

}

.carousel {
    background-color: black;
    display: flex;
    justify-content: center;
}

.karusel{
    width: 60%;
    padding-top: 100px;
}
.karuselimg {
    position: absolute;
    top: 0;
}










